body {
  background-color: yellow;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}

.box {
  width: 100px;
  height: 100px;
  background-color: palegreen;
  margin-bottom: 20px;
}


/* specific changes for mobile */
@media screen and (max-width: 728px) {
  body {
    background-color: aquamarine;
  }
  .container {
    width: 90%;
  }
}
